<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AnitoProviderConfiguration" type="Anito.Data.Configuration.ProviderConfiguration, Anito.Data" allowDefinition="Everywhere" requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="MsSQLConnection" connectionString="Data Source=.\ALPHA;Initial Catalog=AnitoDemo1.0;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MySqlConnection" connectionString="Server=localhost;Database=AnitoDemo;Uid=root;Pwd=password" providerName="Anito.Data.MySqlClient"/>
    <add name="SQLiteConnection" connectionString="Data Source=C:\development\Sqlite\Database\AnitoDemo.db;Version=3;" providerName="Anito.Data.SqliteClient"/>
  </connectionStrings>

  <AnitoProviderConfiguration DefaultProvider="SqlClient">
    <Providers>
      
      <Provider Name="SqlClient" Type="Anito.Data.SqlClient.SqlProvider, Anito.Data.SqlClient" ConnectionString="MsSQLConnection">
        <SchemaSource>
          <clearSource/>
          <addSource name="DefaultSource" sourcefile="..\Anito.Test.Schema\schema.xml"></addSource>
        </SchemaSource>
      </Provider>

      <Provider Name="MySqlClient" Type="Anito.Data.MySqlClient.MySqlProvider, Anito.Data.MySqlClient" ConnectionString="MySqlConnection">
        <SchemaSource>
          <clearSource/>
          <addSource name="DefaultSource" sourcefile="..\Anito.Test.Schema\schema.xml"></addSource>
        </SchemaSource>
      </Provider>

      <Provider Name="SQLiteClient" Type="Anito.Data.SqliteClient.SQLiteProvider, Anito.Data.SqliteClient" ConnectionString="SQLiteConnection">
        <SchemaSource>
          <clearSource/>
          <addSource name="DefaultSource" sourcefile="..\Anito.Test.Schema\schema.xml"></addSource>
        </SchemaSource>
      </Provider>
      
    </Providers>
  </AnitoProviderConfiguration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
